/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-o9nxkzaaaq] {
    display: flex;
    flex-direction: column;
    position: relative;
}

main[b-o9nxkzaaaq] { flex: 1; }

.sidebar[b-o9nxkzaaaq] { background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%); }

.top-row[b-o9nxkzaaaq] {
    align-items: center;
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    display: flex;
    height: 3.5rem;
    justify-content: flex-end;
}

.top-row[b-o9nxkzaaaq]  a, .top-row[b-o9nxkzaaaq]  .btn-link {
    margin-left: 1.5rem;
    text-decoration: none;
    white-space: nowrap;
}

.top-row[b-o9nxkzaaaq]  a:hover, .top-row[b-o9nxkzaaaq]  .btn-link:hover { text-decoration: underline; }

.top-row[b-o9nxkzaaaq]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-o9nxkzaaaq] { display: none; }

    .top-row.auth[b-o9nxkzaaaq] { justify-content: space-between; }

    .top-row[b-o9nxkzaaaq]  a, .top-row[b-o9nxkzaaaq]  .btn-link { margin-left: 0; }
}

@media (min-width: 641px) {
    .page[b-o9nxkzaaaq] { flex-direction: row; }

    .sidebar[b-o9nxkzaaaq] {
        height: 100vh;
        position: sticky;
        top: 0;
        width: 250px;
    }

    .top-row[b-o9nxkzaaaq] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-o9nxkzaaaq]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-o9nxkzaaaq], article[b-o9nxkzaaaq] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
