@page "/"
@inherits IndexBase
<h1>Aptacode.Geometry Demo</h1>


<div style="display: flex; justify-content: left; margin: 0 auto; width: 100%;">

    <dl style="margin: 20px; width: 200px;">
        <dt>Creation</dt>
        <dd>a - Point</dd>
        <dd>s - Line</dd>
        <dd>d - Polygon</dd>
        <dd>f - Ellipse</dd>
        <dt>Transformation</dt>
        <dd>Translate - Click and drag</dd>
        <dd>Rotate - Todo</dd>
        <dd>SceneScale - Todo</dd>
        <dd>Skew - Todo</dd>
    </dl>

    <SceneControllerView ViewModel="SceneController"/>
</div>