@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="https://github.com/Aptacode/Geometry/" target="_blank">About</a>
        </div>

        @Body
    </main>
</div>
