@page "/"
@inherits IndexBase
    <h1>Aptacode.Geometry Demo</h1>
<dl>
    <dt>Creation</dt>
    <dd>a - Point</dd>
    <dd>s - Line</dd>
    <dd>d - Polygon</dd>
    <dd>f - Ellipse</dd>
    <dt>Transformation</dt>
    <dd>Translate - Click and drag</dd>
    <dd>Rotate    - Todo</dd>
    <dd>Scale     - Todo</dd>
    <dd>Skew      - Todo</dd>
</dl>

<div style="border-color: black;
        border-style: solid;
        border-width: 5px;
">
    <SceneControllerView ViewModel="SceneController" />
</div>
